.loginforms-content {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.228);
   width: 450px;
   padding: 10px 0px 30px 0px;
}

.login-header {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.login-form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 20px;
}

.input-group {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
}

.login-input {
   border: 1px solid #BAD7E3;
   border-radius: 2px;
   background-color: white;
   padding: 15px;
   width: 300px;
}

.btn-submit {
   background-color: #4BC1D2;
   border: none;
   border-radius: 4px;
   padding: 12px;
   width: 330px;
}

.btn-submit {
   font-size: 19px;
   font-weight: bold;
}